/*
	Theme Name:  Setup Child
	Description: Starter child theme using Genesis Framework
	Author:      Mark Corpuz
	Author URI:  https://markcorpuz.com
	Version:     1.0.0
	License:     GPL-2.0+
	License URI: http://www.gnu.org/licenses/gpl-2.0.html
	Template:    genesis
*/