/* SETUP CHILD | 1.0.0 | 210617 | assets/scss/partials/entry-content.scss
---------------------------------------------------------------------------------------------------- */

/*
ul, ol {
	padding-left: 1.5rem;

	li {
		padding-bottom: .5rem;

		&:last-child {
			padding-bottom: 0;
		}

		ul, ol {
			padding-top: .5rem;
		}
	}

	&.wp-block-gallery {
		padding-left: 0;

		li {
			padding-bottom: 0;
		}
	}
}
*/

// ENTRY-CONTENT

.entry-content {}

// ENTRY-CONTENT & BLOCK-AREA

.entry-content > *,
.block-area > * {

	margin: $block-margin 0;
	max-width: 100%;

	&:first-child {
		margin-top: 0;
	}

	&:last-child {
		margin-bottom: 0;
	}

	.full-width-content &,
	.content & {
		&.alignwide {
			margin: calc( 2 * #{$block-margin} ) calc(50% - 50vw);
			max-width: 100vw;
			width: auto;

			@include media(">=tablet") {
				//margin: calc( 2 * #{$block-margin}) calc(25% - 25vw);
			}

			@include media(">=medium") {
				margin-right: calc( ( #{$content-width} - #{map-get( $breakpoints, 'medium' ) } ) / 2 );
				margin-left: calc( ( #{$content-width} - #{map-get( $breakpoints, 'medium' ) } ) / 2 );
				max-width: map-get( $breakpoints, 'medium' );
				width: map-get( $breakpoints, 'medium' );
			}
		}

		&.alignfull {
			margin: calc( 2 * #{$block-margin} ) calc(50% - 50vw);
			max-width: 100vw;
			width: 100vw;
		}

		&:first-child {
			margin-top: 0;
		}
		&:last-child {
			margin-bottom: 0;
		}

		&.alignwide.margin-zero-top,
		&.alignfull.margin-zero-top, {
			margin-top: 0;
		}
		&.alignwide.margin-zero-bottom,
		&.alignfull.margin-zero-bottom, {
			margin-bottom: 0;
		}

		&.alignwide.margin-huge-top,
		&.alignfull.margin-huge-top, {
			margin-top: #{$space-huge}rem;
		}
		&.alignwide.margin-huge-bottom,
		&.alignfull.margin-huge-bottom, {
			margin-bottom: #{$space-huge}rem;
		}

		&.alignwide.margin-huge-space,
		&.alignfull.margin-huge-space, {
			margin-top: #{$space-huge}rem;
			margin-bottom: #{$space-huge}rem;

			@include media("<tablet") {
				margin-top: #{$space-large}rem;
				margin-bottom: #{$space-large}rem;
			}
		}
		&.alignwide.margin-huge2x-space,
		&.alignfull.margin-huge2x-space, {
			margin-top: #{$space-huge2x}rem;
			margin-bottom: #{$space-huge2x}rem;

			@include media("<tablet") {
				margin-top: #{$space-huge}rem;
				margin-bottom: #{$space-huge}rem;
			}
		}
	}

	.alignleft,
	&.alignleft {
		/*rtl:ignore*/
		float: left;
		margin: 0 $block-margin $block-margin 0;
	}

	.alignright,
	&.alignright {
		/*rtl:ignore*/
		float: right;
		margin: 0 0 $block-margin $block-margin;
	}

	.aligncenter,
	&.aligncenter {
		margin-left: auto;
		margin-right: auto;
	}

	&.wp-block-quote,
	&.post-listing-block {
		margin-top: calc( 2 * #{$block-margin});
		margin-bottom: calc( 2 * #{$block-margin});
	}

	&.wp-block-search {
		max-width: 568px;
		margin-left: auto;
		margin-right: auto;
	}

}

/*
.entry-content > .alignfull {

	&:first-child {
		margin-top: -36px;
		@include media(">=tablet") {
			margin-top: -48px;
		}
	}

	&:last-child {
		margin-bottom: -36px;
		@include media(">=tablet") {
			margin-bottom: -48px;
		}
	}

}
*/
