/* SETUP CHILD | 1.0.0 | 210210 | assets/scss/partials/layout.scss
---------------------------------------------------------------------------------------------------- */

/* Box Sizing
--------------------------------------------- */

html,
input[type="search"] {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* Wrap
--------------------------------------------- */

.wrap {

	.full-width-content & {}
	.content-sidebar & {}
	.sidebar-content & {}
	.archive & {}
	.page & {}
	.singular & {}
	.single & {}
	.content & {}

}


/* Content Sidebar
--------------------------------------------- */

$percent-100: 100%;
$percent-sidebar: $sidebar-width * ((100% - $percent-100) / 100%);
$percent-content: $content-width * ((100% - $percent-100) / 100%);

.site-inner .wrap {

	max-width: map-get( $breakpoints, 'tablet' );

	.full-width-content & {
		max-width: map-get( $breakpoints, 'tablet' );
	}

	.content-sidebar &,
	.sidebar-content & {
		max-width: map-get( $breakpoints, 'large' );
	}

	.content & {
		max-width: map-get( $breakpoints, 'tablet' );		
	}

	.archive & {
		max-width: map-get( $breakpoints, 'large' );
	}
}

.content-area {

	.content-sidebar &,
	.sidebar-content & {

		.site-main {
			grid-area: layout-content;
			//width: $percent-content;
		}
		.sidebar-primary {
			grid-area: layout-sidebar;
			//width: $percent-sidebar;
		}
	}
	.content-sidebar &,
	.sidebar-content & {
		display: grid;
		grid-column-gap: 24px;
		grid-row-gap: 24px;

		@include media(">=tablet") {
			grid-row-gap: 0;			
		}

		@include media(">=large") {
			grid-column-gap: 0;
			grid-row-gap: 0;
		}
	}
	.content-sidebar & {

		grid-template-columns: 1fr;
		grid-template-areas:
		"layout-content"
		"layout-sidebar";

		@include media(">=medium") {
			grid-template-columns: minmax(auto, $tablet-width) 1fr $sidebar-width;
			grid-template-areas:
			"layout-content . layout-sidebar";			
		}

	}
	.sidebar-content & {

		grid-template-columns: 1fr;
		grid-template-areas:
		"layout-content"
		"layout-sidebar";

		@include media(">=medium") {
			grid-template-columns: $sidebar-width 1fr minmax(auto, $tablet-width);
			grid-template-areas:
			"layout-sidebar . layout-content";
		}

	}
}

.footer-widgets .wrap {
	max-width: map-get( $breakpoints, 'medium' );
}

/* Screen Reader Text
--------------------------------------------- */

.genesis-skip-link {
	display: none;
}

.screen-reader-text,
.screen-reader-text span,
.screen-reader-shortcut {
	position: absolute !important;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden;
}

.screen-reader-text:focus,
.screen-reader-shortcut:focus  {
	clip: auto !important;
	height: auto;
	width: auto;
	display: block;
	font-size: 1em;
	font-weight: bold;
	padding: 15px 23px 14px;
	color: #333;
	background: #fff;
	z-index: 100000; /* Above WP toolbar. */
	text-decoration: none;
	box-shadow: 0 0 2px 2px rgba(0,0,0,.6);
}

/* Sidebar Layouts
--------------------------------------------- */

/*
@include media("<medium") {

	.sidebar-primary {
		display: none;
	}
}

@include media(">=medium") {

	.content-sidebar {

		.site-main {
			float: left;
			width: 768px / 1024px * 100%;
		}

		.sidebar-primary {
			float: right;
			width: 224px / 1024px * 100%;
		}

		@supports( display: $grid ) {
			.content-area {
				display: grid;
				grid-template-columns: 1fr 224px;
				grid-column-gap: $grid-gap;
			}

			.site-main {
				float: none;
				width: 100%;
				max-width: $content-width;
			}

			.sidebar-primary {
				float: none;
				width: 100%;
			}
		}
	}
}
*/

.sidebar-primary {

	section:first-of-type {
		margin-top: 0;
	}

	// LINK
	a {
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}

	// CONTENT
	p {
		> a {
			text-decoration: underline;
		}
	}

	ul {
		margin-bottom: 1rem;
	}

	li {
		list-style-type: none;
		//margin-bottom: 0.875rem;
	}

}
