/* SETUP CHILD | 1.0.0 | 210617 | assets/scss/partials/singular.scss
---------------------------------------------------------------------------------------------------- */

/* Singular
---------------------------------------------------------------------------------------------------- */

// OVERLINE
//
// setup_be_overline();
// setup_be_overline_nolink();

.item.overline {

	.singular .entry-header & {
		font-size: 0.75rem;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 1px;
		margin-bottom: 4px;

		a {
			color: $grey_8;
			text-decoration: none;

			&:hover {
				color: $highlight;
			}
		}
	}
}

// AUTHOR, DATE, DATEAUTHOR

.item.author,
.item.date,
.item.dateauthor {

	.singular .entry-header & {
		margin-top: 1rem;
		font-size: 0.875rem;

		a {
			color: $grey_10;
			text-decoration: none;

			&:hover {
				color: $highlight;
			}
		}
	}
}


/* Entry Meta
--------------------------------------------- */

.breadcrumb {
	font-size: 16px;
	margin-bottom: 24px;

	a {
		color: $base-color;

		&:hover {
			color: $highlight;
		}
	}

	.single & {
		border-top: 1px solid $border-color;
		padding-top: 32px;
		text-align: center;
	}
}


/* Entry Title
--------------------------------------------- */

.entry-title {

	.singular & {
		@include font-sizes( 2.25rem, 2.625rem, 3rem );
		//@include font-sizes( 36px, 42px, 48px );
		line-height: 1.125;
	}
}


/* Single Post
--------------------------------------------- */

.singular {

	.entry-header {
		margin-bottom: 18px;

		@include media(">=tablet") {
			margin-bottom: 48px;
			overflow: hidden;
			width: 100%;

			.entry-author {
				float: left;
				margin: 0;
			}

			.shared-counts-wrap {
				float: right;
			}
		}

		*:last-child {
			margin-bottom: 0;
		}

		.entry-title {
			font-weight: 700;			
		}
	}

}

.after-entry {

	& > * {
		margin: 24px 0;

		@include media(">=tablet") {
			margin: 42px 0;
		}
	}

	.publish-date {
		font-size: 16px;
		text-align: center;
	}
}

.related-posts {
	@supports( display: $grid ) {
		@include media(">=tablet") {
			display: grid;
			grid-template-columns: repeat( 3, 1fr );
			grid-column-gap: 16px;

			header {
				grid-column: 1 / -1;
			}
		}
	}
}

/* Comments
--------------------------------------------- */

.entry-comments {

	.comment-list {
		margin: 0 0 $margin_2x;

		li {
			list-style-type: none;
			border: 1px solid $grey_3;

			article {
				padding: $base-margin;
				position: relative;
			}

			&.staff > article {
				background: rgba( $highlight, .05 );
				border-left: 2px solid $highlight;
			}
		}

		& > li {
			border-radius: 3px;
			overflow: hidden;
			margin-bottom: 15px;
		}

		.comment-author {
			color: $base-color;
			display: inline-block;
			vertical-align: middle;
			margin: 0;
			font-family: $serif;
			@include font-sizes( 18px, 22px );

			a {
				color: $base-color;
				text-decoration: none;

				&:hover {
					color: $highlight;
				}
			}

			.says {
				display: none;
			}
		}

		.comment-edit-link {
			display: none;
		}

		.comment-meta {
			font-size: 14px;
			color: $grey_6;
			vertical-align: middle;

			a {
				color: $grey_6;
				font-weight: 400;
				text-decoration: none;

				&:hover {
					color: $highlight;
				}
			}
		}

		.comment-content {

			p:last-child {
				margin: 0;
			}
		}

		.comment-reply-link {
			position: absolute;
			top: 16px;
			right: 16px;
			font-size: 16px;
			text-transform: uppercase;
			text-decoration: none;
		}

		ul.children {
			margin: 0;

			li {
				border-top: 1px solid $border-color;
			}
		}

	}
}

.nav-links {
	@include clearfix;

	.nav-previous {
		float: left;
	}

	.nav-next {
		float: right;
	}
}

.comment-navigation {

	a {
		font-size: 20px;
		text-transform: uppercase;
		text-decoration: none;
	}
}

.comment-respond {
	margin: 30px 0;

	@include media(">=tablet") {
		margin: 60px 0;
	}

	label {
		display: block;
		margin-right: 12px;

		&[for="subscribe"],
		&[for="wp-comment-cookies-consent"] {
			display: inline-block;
		}
	}

	@include media(">=tablet") {

		.comment-form-author,
		.comment-form-email {
			float: left;
			width: calc( 50% - 16px );
		}

		.comment-form-email {
			margin-left: 32px;
		}

		input[type="submit"] {
			width: auto;
		}
	}
}
