/* SETUP CHILD | 1.0.0 | 210210 | assets/scss/partials/site-inner.scss
---------------------------------------------------------------------------------------------------- */

.site-inner {
	padding: 1.5rem;

	@include media(">=large") {
		padding: 3rem;
	}

	.full-width-content & {
		padding-top: 0;
		padding-bottom: 0;

		@include media(">=large") {
			padding-top: 0;
			padding-bottom: 0;
		}
	}

	.full-width-content.archive & {
		padding-top: 1.5rem;
		padding-bottom: 1.5rem;

		@include media(">=large") {
			padding-top: 3rem;
			padding-bottom: 3rem;
		}
	}

	.wrap {
		margin-right: auto;
		margin-left: auto;

		.content-area {
			.site-main {}
			.sidebar {}
			.sidebar.sidebar-primary {}
		}
	}

}