/* SETUP CHILD | 1.0.0 | 210618 | assets/scss/main.scss
---------------------------------------------------------------------------------------------------- */

@import 	"partials/fontface";

@import 	"partials/base";
@import 	"partials/reset";

@import 	"partials/layout";
@import 	"partials/form";
@import 	"partials/blocks-base";
@import 	"partials/blocks-core";
@import 	"partials/blocks-plugin";
@import 	"partials/blocks-custom";
@import 	"partials/site-header";
@import 	"partials/custom-logo";
@import 	"partials/site-inner";
@import 	"partials/widget";
@import 	"partials/navigation";
@import 	"partials/menu";
@import 	"partials/post-summary";
@import 	"partials/archive";
@import 	"partials/singular";
@import 	"partials/entry-content";
@import 	"partials/author";
@import 	"partials/site-footer";

@import 	"block/setup-child-100/alignwide";
@import 	"block/setup-child-100/youtube";
@import 	"block/setup-child-100/cover";
@import 	"block/setup-child-100/group";
@import 	"block/setup-child-100/column";
@import 	"block/setup-child-100/gallery";
@import 	"block/setup-child-100/paragraph";
@import 	"block/setup-child-100/heading";
@import 	"block/setup-child-100/list";

@import 	"selector/setup-child-100/textsize";
@import 	"selector/setup-child-100/fontweight";
@import 	"selector/setup-child-100/lineheight";
@import 	"selector/setup-child-100/color";
@import 	"selector/setup-child-100/grid";
@import 	"selector/setup-child-100/percent";
@import 	"selector/setup-child-100/width";
@import 	"selector/setup-child-100/margin";
@import 	"selector/setup-child-100/margin-all";
@import 	"selector/setup-child-100/padding";
@import 	"selector/setup-child-100/padding-all";
@import 	"selector/setup-child-100/capsule";
@import 	"selector/setup-child-100/border";
@import 	"selector/setup-child-100/heading";
@import 	"selector/setup-child-100/list";
@import 	"selector/setup-child-100/shadow";
@import 	"selector/setup-child-100/hide";